body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(34,195,152);
    background: linear-gradient(0deg, rgba(34,195,152,1) 0%, rgba(45,137,253,1) 100%);
}

#container{
display:flex;
align-items: center;
justify-content: space-around;
flex-flow: wrap;
width: 960px;
height: 960px;
}

#square{
    border:solid 1px lightgrey;
    margin: 0;
    flex-grow: 1;
}